@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

body, html {
   height: 100%;
   margin: auto;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
    }

@media all and (max-width: 1000px) {
  #contact{
          margin-left: 47%;
  }

}
/* Navbar Section */

.navbar-brand {
  margin: 0px;
  padding: 3px 15px;
}

.white-logo {
  height: 45px;
}

.navbar {
  background-color: rgba(253, 233, 89, 0.5);
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #252762;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  transition: .5s ease;
  background-color: rgba(37, 39, 98, .7);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #252762;
  background-color: rgba(253, 231, 50, .5);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url("../img/train_header.jpg");
  background-position: center;
  background-size: cover;
}

.hero h1 {
  text-align: center;
  color: #252762;
  transform: translateY(200%);
}

/*Application Stuff */

.mid-row{
  width: 100%;
}

.text{
  float: left;
}

.total{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: #fff;
  float: right;
}

#total{
  height: 16%;
  background-color: rgb(41, 38, 96);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  float: left;
  width: 50%;
}

#checkout{
  height: 16%;
  background-color: rgb(253, 233, 89);
  color: fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  border-style: none;
  width: 50%;
  padding-top: 0.9%;
}

button>h1{
  font-size: 2.5em;
  text-align: center;
  float: left;
}

.arrow{
  font-size: 4em;
  text-align: center;
  float: right;
  margin-right: 24%;
}

button{

}

/*Blue Div*/
#blue-div{
  height: 30%;
  width: 100%;
  background-color: rgb(41, 38, 96);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/*Contact Info*/
#contact{
  margin-left: 76%;
  margin-top: -1%;
}
 /*Footer Starts*/

#footer{
  height: 20%;
  width: 100%;
  background-color: rgb(253, 233, 89);
}

/* Social Media Icons */


.fa {
    padding: 2%;
    font-size: 3em;
    width: 8%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(41, 38, 96);
}

.fa:hover{
  text-decoration: none;
}

.fa-facebook:hover{
    background: #3B5998;
    color: #fff;
}


.fa-twitter:hover {
    background: #55ACEE;
    color: #000;
}

.fa-instagram:hover {
    background: #517fa4;
    color: #fff;
}

/*Social Media Div */

.social {
  text-align: center;
  padding-top: 1.3%;
  background-color: rgb(253, 233, 89)
}
